@CHARSET "UTF-8";

/* Example of DIV
---------------------------------------*/

.custom-font {
	font-family: "Courier New",serif;
	font-size: 1em;
}

.custom-font-shorthand {
    font: 1.2em "Courier New",serif;
}

.custom-font-Comic-Sans-MS {
    font-family: "Comic Sans MS",serif;
    font-size: 1.3em;
}

.custom-font-verdana {
    font: 1.3em "verdana";
    letter-spacing: 3px;
    line-height: 2em;
}

.custom-font-Georgia {
    font: 1.3em "Georgia";
    font-weight: 800;
}

.custom-font-Times-new-Roman {
    font: 1.3em "Times new Roman";
    font-style: oblique;
}

.custom-font-Times {
    font: 1.3em Times;
    font-stretch: wider;
}

.custom-font-arial{
    font: 1.3em Arial;
}


.custom-font-Helvetica {
    font: 1.3em/2em "Helvetica";
}

.custom-font-trebuchet {
    font: 1.3em "trebuchet";
}

.custom-font-Courier {
    font: 1.3em "Courier New";
}

/* Example of blockquote
---------------------------------------------*/
blockquote {
	font: 1.2em/1.8em serif;
	font-style: italic;
	text-indent: 20px;
}

/* Example of DropCap
---------------------------------------------*/
p.dropcap:first-letter {
    float: left;
    width: 50px;
    letter-spacing: 10px;
    font: 60px "Lucida Grande",Arial,sans-serif;
    line-height: 30px;
}

