@CHARSET "UTF-8";

body {
    margin: 10px;
    background-color:#CCC;
}

/* Example of Color
---------------------------------------*/

.color1 {
    color: red;
}
.color2 {
    color: aqua;
}
.color3 {
    color: rgb(80,56,22);
}
.color4 {
    color: blue;
}
.color5 {
    color: #AAA;
}
.color6 {
    color: #A4D6C6;
}
.color7 {
    color: rgb(10%, 50%, 50%);
}

/* Using Background
-----------------------------------------*/
.background {
	color:#000;
    background-color:#FF0;
    padding: 10px;
}

.h2-background {
	background-color:#AAA;
	padding: 0.3em;
}

.background-image1 {
    height:210px;
    color: white;
    background-position: center right;
    background-repeat: no-repeat;
    border:1px solid #000;
    background-color:#FFF;
    background-image:url(background1.gif);
}
.background-image2 {
    height:200px;
    color: white;
    background-repeat: repeat-x;
    border:1px solid #000;
    background-color:#FFF;
    background-image:url(background1.gif);
}
.background-image3 {
    height:250px;
    color: white;
    background-repeat: repeat-y;
    border:1px solid #000;
    background-color:#FFF;
    background-image:url(background1.gif);
}

.background-image4 {
    height:100px;
    color: white;
    border:1px solid #000;
    background-color:#FFF;
    background-image:url(background1.gif);
    background-attachment: scroll;
}