body {
    width: 760px;
    margin:10px;
    
    font-size: 80%;
    font-family: 'Lucida Grande', Verdana, sans-serif;
}
h1 {
    font-size: 150%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

p {
    font-size: 100%;
    line-height: 150%;
}

/* Layout
------------------------------------------*/
#masthead {
    height: 60px;
    width: 738px;
    
    padding:10px;
    margin: 10px 0px;
    
    border:1px solid #000;
    background-color:#CCC;
}

#footer {
    clear: both;
    width: 738px;
    
    padding:10px;
    border:1px solid #000;
    background-color:#CCC;
}

#sidebar_a {
    float: left;
        
    width:158px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #000;
}

#sidebar_b {
    float: right;
    width:158px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #000;
}

#content {
    width: 338px;
    
    margin-left: 200px;
    margin-right: 200px;
    
    margin-bottom:10px;
    padding:10px;
    border:1px solid #000;
}

/* Customize Layout with contextual
---------------------------------------------*/

#switch #sidebar_a {
    float:right;
}

#switch #sidebar_b {
    float:left;
}

#two-columns #content {
	margin-right: 0px;
	width: 540px;
}

#two-columns #sidebar_b {
	display: none;