@CHARSET "UTF-8";

em {
	text-decoration: underline;
}

/* Example of DIV
---------------------------------------*/
#container {
    padding: 20px;
    border: 1px solid #000;
    background: #556;
}

.box {
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    background: #aaa;
}

.box p{
    color: #F00;
    background: #ddd;
}

/* Centering DIV
-----------------------------------------*/
#container1 {
	width: 400px;
	padding: 10px;
	margin: 10px auto 20px auto;
	border: 1px solid #000;
	background: #CCC;
}

/* Example of Border
---------------------------------------*/
.border1 {
	margin-bottom: 10px;
    margin-right: 10px;
	border-top: 5px dashed red;
    border-right: 5px dotted red;
    border-bottom: 5px solid red;
    border-left: 5px double red;
}

.border2 {
    margin-right: 10px;
    border-top: 5px groove blue;
    border-right: 5px ridge blue;
    border-bottom: 5px inset blue;
    border-left: 5px outset blue;
}
