@CHARSET "UTF-8";

body {
	font-family:sans-serif;
	background: #bbb;
	font-size: 1em;
	
    margin: 0px;
    padding: 0px;
}

h1 {
	color: red;
}

h2.section-title {
    color: blue;
}

em {
	text-decoration: underline;
}

.section-content {
	margin-left: 70px;
}

pre.code {
    color: red;
    width: 400px;
    border: 1px solid #036;
    background: #eee;
    padding: 10px;
}

/* Example of ID
---------------------------------------*/
#highlight {
	color: #F00;
}

/* Example of Class
---------------------------------------*/
.alcohol {
    color: #333;
}
.mixer {
    color: #999;
}
.hot {
    color: #ccc;
}


